/* general rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(246, 248, 249);
}

header{
    background-color: white;
    background-size: 40px;
    height: 90px;
    
}

.logo{
    height: 60px;
    width: auto;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    

    
}

.logo_text{
    font-size: 40px;
    color: rgb(2, 23, 50);
    margin-top: 30px;
    position: absolute;
    margin-top: 15px;
    
}


.container{
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    color: white;
    width: 900px;
}


.structure{
    
    background-color: white;
    background-size: 30px;
    padding: 10px;
    width: 900px;
}



.blue-button{
    background-color: rgb(71, 173, 241);
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 15%;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;


}

.white-button{
    background-color: lightgrey;
    border: none;
    color: grey;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 15%;

}


.Task{
    
    margin-top: 5px;
    padding: 30px;
    box-sizing: border-box;
    background-color: white;
    width: 900px; 
    height: 1000px;          

}


.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: black;
    margin-left: 20px;
    margin-bottom: 10px;
}


.subtext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
}

.triangle{
    font-size: 15px; 
    margin-right: 8px;  
    margin-bottom: 9px;
}

.check{
    display: inline-block;
    width: 23px;
    height: 23px;
    border: 2px solid rgb(101, 192, 169);
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 8px;
    color: rgb(101, 192, 169);
    margin-left: 18px;

}

.identification1{
    color: white;
    font-size: 11px;
    background-color: rgb(69, 171, 234);
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    border-radius: 20%;
    border-end-start-radius: 20%; 
    margin-left: 10px;
}

.second-section{
    margin-top: 40px;
}

p{
    margin-top: 12px;
}

.cross{
    display: inline-block;
    width: 23px;
    height: 23px;
    border: 2px solid rgb(235, 89, 82);
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 8px;
    color: rgb(235, 89, 82);
    margin-left: 18px;
}


.identification2{
    color: white;
    font-size: 11px;
    background-color: rgb(156, 114, 228);
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    border-radius: 20%;
    border-end-start-radius: 20%; 
    margin-left: 10px;
}


.identification3{
    color: white;
    font-size: 11px;
    background-color: rgb(100, 192, 169);
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    border-radius: 20%;
    border-end-start-radius: 20%; 
    margin-left: 10px;
}

.identification4{
    color: white;
    font-size: 11px;
    background-color: rgb(242, 158, 51);
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    border-radius: 20%;
    border-end-start-radius: 20%; 
    margin-left: 10px;
}

.third-section{
    margin-top: 40px;
}