/* general rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(246, 248, 249);
}

header{
    background-color: white;
    background-size: 40px;
    height: 90px;
    
}

.logo{
    height: 70px;
    width: auto;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 50px;
    vertical-align: middle;
    
    
}

.logo_text{
    font-size: 50px;
    color: rgb(2, 23, 50);
    
    
}


.container{
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    color: white;
    width: 900px;
}


.structure{
    
    background-color: white;
    background-size: 30px;
    padding: 10px;
    width: 900px;
}



.blue-button{
    background-color: rgb(71, 173, 241);
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 15%;


}

.white-button{
    background-color: lightgrey;
    border: none;
    color: grey;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 15%;

}


.Task{
    
    margin-top: 5px;
    padding: 30px;
    box-sizing: border-box;
    background-color: white;
    width: 900px; 
    height: 1000px;          

}


.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: black;
}


.subtext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
}

.triangle{
    font-size: 15px; 
    margin-right: 8px;  
    margin-bottom: 9px;
}

.check{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid rgb(101, 192, 169);
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 8px;

}

